* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #282c34;
  color: rgb(230, 230, 250);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 1em;
  font-size: 3em;
}

.addlist-div {
  border: 0.2em solid red;
  width: 45em;
  height: 7em;
}

.addlist-form {
  border: 2px solid green;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addlist-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.addlist-btn {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: #339af0;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.addlist-btn:hover {
  background-color: #fff;
  color: #339af0;
}

.tasks-div {
  border: 2px solid green;
  margin: 2em;
  width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-div {
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

  width: 40em;
}

.task-list {
  flex: 1;
  list-style: none;
  background-color: #fff;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.7em 1em;
  border-radius: 1em;
}

.check-btn {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  background-color: green;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.delete-btn {
  margin: 0.5em 0.5 0;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  background-color: red;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.check-btn:hover {
  background-color: #fff;
  color: green;
}

.delete-btn:hover {
  background-color: #fff;
  color: red;
}

/* .fas {
  font-size: 0.8em;
} */
